body, p{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

nav img{
    height: 20px;
}

.sign-in-btn{
    background-color: rgb(19, 144, 247);
    padding: 0.6em;
    margin-top: -0.5em;
}

.sign-in-btn a{
    color: white;
    text-decoration: none;
}

main{
    width: 50%;
    margin: 6.65em auto;
    text-align: center;
    padding-bottom: 1.9em;
}

input{
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid gray;
}

.btns_container{
    margin-top: 1em;
}

.btns_container button{
    padding: 1em;
    border: none;
}

footer{
    background-color: rgb(240, 236, 236);
}

.footer_top{
    padding: 1em;
}

.footer_bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

.left a{
    margin-right: 1em;
}

.right a{
    margin-right: 1em;
}
.carbon-neutral img{
    height: 15px;
}